body {
    font: 100% Arial, Sans Serif;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #0b0422, #0e0035, #260057, #3b0063) !important;
    background-size: 100% 100%;
}

@font-face {
    font-family: "Stardew Valley";
    src: url("../assets/fonts/Stardew_Valley.ttf") format("truetype");
}

.accordion-header:active {
    background-color: white;
}

.accordion-button:active {
    background-color: white;
}

@keyframes twinkle {
    0% {
        opacity: 0.35;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.35;
    }
}