body {
    /* background: #00b4ff !important; */
    background: linear-gradient(to bottom, #00b4ff, #00ffb4) !important;
    color: #333;
    font: 100% Arial, Sans Serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to bottom, #170946, #0075e2, #00b4ff, #00ffb4) !important;
}

#background-wrap {
    bottom: 0;
    left: 0;
    /* padding-top: 100px; */
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /* Ensure clouds don't interfere with other elements */
}

.cloud {
    position: absolute;
    bottom: 50%;
    width: 300px;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 45s linear infinite;
	-moz-animation: animateCloud 45s linear infinite;
	animation: animateCloud 45s linear infinite;
	
	/* -webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65); */
}

.x2 {
	-webkit-animation: animateCloud 90s linear infinite;
	-moz-animation: animateCloud 90s linear infinite;
	animation: animateCloud 90s linear infinite;
/* 	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3); */
}

.x3 {
	-webkit-animation: animateCloud 70s linear infinite;
	-moz-animation: animateCloud 70s linear infinite;
	animation: animateCloud 70s linear infinite;
	
	/* -webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5); */
}

.x4 {
	-webkit-animation: animateCloud 55s linear infinite;
	-moz-animation: animateCloud 55s linear infinite;
	animation: animateCloud 55s linear infinite;
	
	/* -webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4); */
}

@font-face {
    font-family: "Stardew Valley";
    src: url("../assets/fonts/Stardew_Valley.ttf") format("truetype");
}

#blocked-site {
    font-family: "Stardew Valley";
    font-size: 72px;
    font-weight: bolder;
    color: rgb(255, 145, 0);
}

h1 {
    font-weight: bolder;
    text-shadow: 1px -1px 0 #000,
}